


<h1>todos</h1>
<ul>
  <li>
    <%= form_with url: "/todo", scope: "todo", id: "new_form" do |form| %>
    <%= form.text_field :content, id: "new_content" %>
    <%= form.submit "create" %>
    <% end %>
  </li>

  <% @todo.reverse.each do |todo| %>

    <li class="todos">

      <%= form_with model: todo, id: "edit_form_"+todo.id.to_s, class: "form_class" do |form| %>
      <%= form.check_box :completed_status, id: :todo_status, onclick: 'submit_this_entry('+todo.id.to_s+')' %>
      <%= form.text_field :content, id:  :todo_content, ondblclick: 'make_editable('+todo.id.to_s+')' %>
      <%= link_to '×', todo_path(todo), method: :delete %>
      <%= form.submit "Update"%>
      <% end %>
    </li>
  <% end %>
</ul>


<ul class="menu">
  <li>
    <%= link_to 'All', todo_index_url %>
    <%= link_to 'Active', todo_index_url(:completed_status => "f") %>
    <%= link_to 'Completed', todo_index_url(:completed_status => "t") %>
    <% if @todo.where(completed_status: true).count > 0 %>
      <%= link_to 'Clear all completed', delete_all_completed_path, method: :delete %>
    <% else %>
    <% end %>
    </li>
</ul>
