<table>
  <thead>
    <tr>
      <th>Todo</th>
      <th colspan="9"></th>
    </tr>
  </thead>
  <tr>
    <%= form_with Todo: Todo.new do |form| %>
    <%= form.label :New %>
    <%= form.text_field :content, id: :content %>
    <%= check_box_tag(:status) %>
    <%= label_tag(:status, "Completed") %>
    <%= form.submit "create" %>
    <% end %>
  </tr>
    <% @todo.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>
        <td><%= check_box_tag :status, 1, todo.status %></td>
      </tr>
    <% end %>
</table>

<br>
